<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Insert title here</title>
<script src="/js/core/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/common/index.css">
<link id="easyuiTheme" rel="stylesheet" type="text/css"
	href="/easyui/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="/easyui/themes/icon.css">
<script src="/js/core/jquery.min.js"></script>
<!--easyui控件js -->
<script src="/easyui/jquery.easyui.min.js"></script>
<script src="/easyui/locale/easyui-lang-zh_CN.js"></script>
<script src="/js/common/uiTree.js"></script>
<script src="/js/common/areaTree.js"></script>
<style type="text/css">
html, body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.ztree * {
	padding: 0;
	margin: 0;
	font-size: 12px;
	color: rgb(0, 136, 204);
	font-family: Verdana, Arial, Helvetica, AppleGothic, sans-serif
}

#treeDemo {
	width: auto;
	height: auto;
	border: 0;
	margin-top: 0%;
}
</style>
</head>
<body id="body">
	<ul id="treeDemo"></ul>
</body>
</html>