<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gospell.chitong.rdcenter.broadcast.broadcastMange.dao.EmergencyinfoMapper">
  <resultMap id="BaseResultMap" type="com.gospell.chitong.rdcenter.broadcast.broadcastMange.entity.Emergencyinfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="emergencyName" jdbcType="VARCHAR" property="emergencyname" />
    <result column="emergencyCode" jdbcType="VARCHAR" property="emergencycode" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="sound" jdbcType="VARCHAR" property="sound" />
    <result column="duration" jdbcType="VARCHAR" property="duration" />
    <result column="addressCode" jdbcType="VARCHAR" property="addresscode" />
    <result column="program_id" jdbcType="INTEGER" property="programId" />
    <result column="programDescription" jdbcType="VARCHAR" property="programdescription" />
    <result column="infoSource_id" jdbcType="INTEGER" property="infosourceId" />
    <result column="accidentLevel_id" jdbcType="INTEGER" property="accidentlevelId" />
    <result column="accidentType_id" jdbcType="INTEGER" property="accidenttypeId" />
    <result column="displayMethod_id" jdbcType="INTEGER" property="displaymethodId" />
    <result column="displayLanguage_id" jdbcType="INTEGER" property="displaylanguageId" />
    <result column="emergencyLocation_id" jdbcType="INTEGER" property="emergencylocationId" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="unitName" jdbcType="VARCHAR" property="unitname" />
    <result column="EBM_ID" jdbcType="VARCHAR" property="ebmId" />
    <result column="areaCode" jdbcType="VARCHAR" property="areacode" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
    <result column="addressCodeName" jdbcType="VARCHAR" property="addresscodename" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.gospell.chitong.rdcenter.broadcast.broadcastMange.entity.Emergencyinfo">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    id, emergencyName, emergencyCode, start_time, end_time, sound, duration, addressCode, 
    program_id, programDescription, infoSource_id, accidentLevel_id, accidentType_id, 
    displayMethod_id, displayLanguage_id, emergencyLocation_id, update_by, update_time, 
    create_by, create_time, status, unitName, EBM_ID, areaCode, flag, addressCodeName
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from emergencyinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from emergencyinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gospell.chitong.rdcenter.broadcast.broadcastMange.entity.Emergencyinfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into emergencyinfo (emergencyName, emergencyCode, start_time, 
      end_time, sound, duration, 
      addressCode, program_id, programDescription, 
      infoSource_id, accidentLevel_id, accidentType_id, 
      displayMethod_id, displayLanguage_id, emergencyLocation_id, 
      update_by, update_time, create_by, 
      create_time, status, unitName, 
      EBM_ID, areaCode, flag, 
      addressCodeName, content)
    values (#{emergencyname,jdbcType=VARCHAR}, #{emergencycode,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{sound,jdbcType=VARCHAR}, #{duration,jdbcType=VARCHAR}, 
      #{addresscode,jdbcType=VARCHAR}, #{programId,jdbcType=INTEGER}, #{programdescription,jdbcType=VARCHAR}, 
      #{infosourceId,jdbcType=INTEGER}, #{accidentlevelId,jdbcType=INTEGER}, #{accidenttypeId,jdbcType=INTEGER}, 
      #{displaymethodId,jdbcType=INTEGER}, #{displaylanguageId,jdbcType=INTEGER}, #{emergencylocationId,jdbcType=INTEGER}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, #{unitname,jdbcType=VARCHAR}, 
      #{ebmId,jdbcType=INTEGER}, #{areacode,jdbcType=VARCHAR}, #{flag,jdbcType=INTEGER}, 
      #{addresscodename,jdbcType=VARCHAR}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gospell.chitong.rdcenter.broadcast.broadcastMange.entity.Emergencyinfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into emergencyinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="emergencyname != null">
        emergencyName,
      </if>
      <if test="emergencycode != null">
        emergencyCode,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="sound != null">
        sound,
      </if>
      <if test="duration != null">
        duration,
      </if>
      <if test="addresscode != null">
        addressCode,
      </if>
      <if test="programId != null">
        program_id,
      </if>
      <if test="programdescription != null">
        programDescription,
      </if>
      <if test="infosourceId != null">
        infoSource_id,
      </if>
      <if test="accidentlevelId != null">
        accidentLevel_id,
      </if>
      <if test="accidenttypeId != null">
        accidentType_id,
      </if>
      <if test="displaymethodId != null">
        displayMethod_id,
      </if>
      <if test="displaylanguageId != null">
        displayLanguage_id,
      </if>
      <if test="emergencylocationId != null">
        emergencyLocation_id,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="unitname != null">
        unitName,
      </if>
      <if test="ebmId != null">
        EBM_ID,
      </if>
      <if test="areacode != null">
        areaCode,
      </if>
      <if test="flag != null">
        flag,
      </if>
      <if test="addresscodename != null">
        addressCodeName,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="emergencyname != null">
        #{emergencyname,jdbcType=VARCHAR},
      </if>
      <if test="emergencycode != null">
        #{emergencycode,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sound != null">
        #{sound,jdbcType=VARCHAR},
      </if>
      <if test="duration != null">
        #{duration,jdbcType=VARCHAR},
      </if>
      <if test="addresscode != null">
        #{addresscode,jdbcType=VARCHAR},
      </if>
      <if test="programId != null">
        #{programId,jdbcType=INTEGER},
      </if>
      <if test="programdescription != null">
        #{programdescription,jdbcType=VARCHAR},
      </if>
      <if test="infosourceId != null">
        #{infosourceId,jdbcType=INTEGER},
      </if>
      <if test="accidentlevelId != null">
        #{accidentlevelId,jdbcType=INTEGER},
      </if>
      <if test="accidenttypeId != null">
        #{accidenttypeId,jdbcType=INTEGER},
      </if>
      <if test="displaymethodId != null">
        #{displaymethodId,jdbcType=INTEGER},
      </if>
      <if test="displaylanguageId != null">
        #{displaylanguageId,jdbcType=INTEGER},
      </if>
      <if test="emergencylocationId != null">
        #{emergencylocationId,jdbcType=INTEGER},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="unitname != null">
        #{unitname,jdbcType=VARCHAR},
      </if>
      <if test="ebmId != null">
        #{ebmId,jdbcType=INTEGER},
      </if>
      <if test="areacode != null">
        #{areacode,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=INTEGER},
      </if>
      <if test="addresscodename != null">
        #{addresscodename,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gospell.chitong.rdcenter.broadcast.broadcastMange.entity.Emergencyinfo">
    update emergencyinfo
    <set>
      <if test="emergencyname != null">
        emergencyName = #{emergencyname,jdbcType=VARCHAR},
      </if>
      <if test="emergencycode != null">
        emergencyCode = #{emergencycode,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sound != null">
        sound = #{sound,jdbcType=VARCHAR},
      </if>
      <if test="duration != null">
        duration = #{duration,jdbcType=VARCHAR},
      </if>
      <if test="addresscode != null">
        addressCode = #{addresscode,jdbcType=VARCHAR},
      </if>
      <if test="programId != null">
        program_id = #{programId,jdbcType=INTEGER},
      </if>
      <if test="programdescription != null">
        programDescription = #{programdescription,jdbcType=VARCHAR},
      </if>
      <if test="infosourceId != null">
        infoSource_id = #{infosourceId,jdbcType=INTEGER},
      </if>
      <if test="accidentlevelId != null">
        accidentLevel_id = #{accidentlevelId,jdbcType=INTEGER},
      </if>
      <if test="accidenttypeId != null">
        accidentType_id = #{accidenttypeId,jdbcType=INTEGER},
      </if>
      <if test="displaymethodId != null">
        displayMethod_id = #{displaymethodId,jdbcType=INTEGER},
      </if>
      <if test="displaylanguageId != null">
        displayLanguage_id = #{displaylanguageId,jdbcType=INTEGER},
      </if>
      <if test="emergencylocationId != null">
        emergencyLocation_id = #{emergencylocationId,jdbcType=INTEGER},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="unitname != null">
        unitName = #{unitname,jdbcType=VARCHAR},
      </if>
      <if test="ebmId != null">
        EBM_ID = #{ebmId,jdbcType=VARCHAR},
      </if>
      <if test="areacode != null">
        areaCode = #{areacode,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=INTEGER},
      </if>
      <if test="addresscodename != null">
        addressCodeName = #{addresscodename,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.gospell.chitong.rdcenter.broadcast.broadcastMange.entity.Emergencyinfo">
    update emergencyinfo
    set emergencyName = #{emergencyname,jdbcType=VARCHAR},
      emergencyCode = #{emergencycode,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      sound = #{sound,jdbcType=VARCHAR},
      duration = #{duration,jdbcType=VARCHAR},
      addressCode = #{addresscode,jdbcType=VARCHAR},
      program_id = #{programId,jdbcType=INTEGER},
      programDescription = #{programdescription,jdbcType=VARCHAR},
      infoSource_id = #{infosourceId,jdbcType=INTEGER},
      accidentLevel_id = #{accidentlevelId,jdbcType=INTEGER},
      accidentType_id = #{accidenttypeId,jdbcType=INTEGER},
      displayMethod_id = #{displaymethodId,jdbcType=INTEGER},
      displayLanguage_id = #{displaylanguageId,jdbcType=INTEGER},
      emergencyLocation_id = #{emergencylocationId,jdbcType=INTEGER},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      unitName = #{unitname,jdbcType=VARCHAR},
      EBM_ID = #{ebmId,jdbcType=VARCHAR},
      areaCode = #{areacode,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=INTEGER},
      addressCodeName = #{addresscodename,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gospell.chitong.rdcenter.broadcast.broadcastMange.entity.Emergencyinfo">
    update emergencyinfo
    set emergencyName = #{emergencyname,jdbcType=VARCHAR},
      emergencyCode = #{emergencycode,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      sound = #{sound,jdbcType=VARCHAR},
      duration = #{duration,jdbcType=VARCHAR},
      addressCode = #{addresscode,jdbcType=VARCHAR},
      program_id = #{programId,jdbcType=INTEGER},
      programDescription = #{programdescription,jdbcType=VARCHAR},
      infoSource_id = #{infosourceId,jdbcType=INTEGER},
      accidentLevel_id = #{accidentlevelId,jdbcType=INTEGER},
      accidentType_id = #{accidenttypeId,jdbcType=INTEGER},
      displayMethod_id = #{displaymethodId,jdbcType=INTEGER},
      displayLanguage_id = #{displaylanguageId,jdbcType=INTEGER},
      emergencyLocation_id = #{emergencylocationId,jdbcType=INTEGER},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      unitName = #{unitname,jdbcType=VARCHAR},
      EBM_ID = #{ebmId,jdbcType=VARCHAR},
      areaCode = #{areacode,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=INTEGER},
      addressCodeName = #{addresscodename,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="queryEmer" parameterType="com.gospell.chitong.rdcenter.broadcast.commonManage.entity.Page" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from emergencyinfo
    where areaCode like #{areaCode,jdbcType=VARCHAR} '%' order by #{sortStr} DESC limit #{begin},#{pageSize}
  </select>
   <select id="queryEmerTotal" parameterType="com.gospell.chitong.rdcenter.broadcast.commonManage.entity.Page" resultType="java.lang.Integer">
    select 
    count(id)
    from emergencyinfo
    where areaCode like #{areaCode,jdbcType=VARCHAR} '%' order by #{sortStr}
  </select>
  <select id="queryBroadcastingEmer" parameterType="com.gospell.chitong.rdcenter.broadcast.commonManage.entity.Page" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from emergencyinfo
    where areaCode like #{areaCode,jdbcType=VARCHAR} '%'
    and emergencyName like '%' #{search,jdbcType=VARCHAR} '%'
    and status = 6 
    and flag = 1
    limit #{begin},#{pageSize}
  </select>
  <select id="queryBroadcastingEmerTotal" parameterType="com.gospell.chitong.rdcenter.broadcast.commonManage.entity.Page"  resultType="java.lang.Integer">
    select 
    count(id)
    from emergencyinfo
    where areaCode like #{areaCode,jdbcType=VARCHAR} '%'
    and emergencyName like '%' #{search,jdbcType=VARCHAR} '%'
    and status = 6 
    and flag = 1
  </select>
</mapper>