<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gospell.chitong.rdcenter.broadcast.commonManage.dao.ReceiveTarMapper">
  <resultMap id="BaseResultMap" type="com.gospell.chitong.rdcenter.broadcast.commonManage.entity.ReceiveTar">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="resource_id" jdbcType="VARCHAR" property="resourceId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="audit_user" jdbcType="VARCHAR" property="auditUser" />
    <result column="audit_time" jdbcType="TIMESTAMP" property="auditTime" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="audit_depar" jdbcType="VARCHAR" property="auditDepar" />
    <result column="audit_desc" jdbcType="VARCHAR" property="auditDesc" />
    <result column="resource_code" jdbcType="VARCHAR" property="resourceCode" />
    <result column="ebd_type" jdbcType="VARCHAR" property="ebdType" />
  </resultMap>
  <sql id="Base_Column_List">
    id, resource_id, create_time, `status`, audit_user, audit_time, `type`, audit_depar, 
    audit_desc, resource_code, ebd_type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from receive_tar
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from receive_tar
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.gospell.chitong.rdcenter.broadcast.commonManage.entity.ReceiveTar">
    insert into receive_tar (id, resource_id, create_time, 
      `status`, audit_user, audit_time, 
      `type`, audit_depar, audit_desc, 
      resource_code, ebd_type)
    values (#{id,jdbcType=VARCHAR}, #{resourceId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER}, #{auditUser,jdbcType=VARCHAR}, #{auditTime,jdbcType=TIMESTAMP}, 
      #{type,jdbcType=INTEGER}, #{auditDepar,jdbcType=VARCHAR}, #{auditDesc,jdbcType=VARCHAR}, 
      #{resourceCode,jdbcType=VARCHAR}, #{ebdType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gospell.chitong.rdcenter.broadcast.commonManage.entity.ReceiveTar">
    insert into receive_tar
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="resourceId != null">
        resource_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="auditUser != null">
        audit_user,
      </if>
      <if test="auditTime != null">
        audit_time,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="auditDepar != null">
        audit_depar,
      </if>
      <if test="auditDesc != null">
        audit_desc,
      </if>
      <if test="resourceCode != null">
        resource_code,
      </if>
      <if test="ebdType != null">
        ebd_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="resourceId != null">
        #{resourceId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="auditUser != null">
        #{auditUser,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null">
        #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="auditDepar != null">
        #{auditDepar,jdbcType=VARCHAR},
      </if>
      <if test="auditDesc != null">
        #{auditDesc,jdbcType=VARCHAR},
      </if>
      <if test="resourceCode != null">
        #{resourceCode,jdbcType=VARCHAR},
      </if>
      <if test="ebdType != null">
        #{ebdType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gospell.chitong.rdcenter.broadcast.commonManage.entity.ReceiveTar">
    update receive_tar
    <set>
      <if test="resourceId != null">
        resource_id = #{resourceId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="auditUser != null">
        audit_user = #{auditUser,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null">
        audit_time = #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=INTEGER},
      </if>
      <if test="auditDepar != null">
        audit_depar = #{auditDepar,jdbcType=VARCHAR},
      </if>
      <if test="auditDesc != null">
        audit_desc = #{auditDesc,jdbcType=VARCHAR},
      </if>
      <if test="resourceCode != null">
        resource_code = #{resourceCode,jdbcType=VARCHAR},
      </if>
      <if test="ebdType != null">
        ebd_type = #{ebdType,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gospell.chitong.rdcenter.broadcast.commonManage.entity.ReceiveTar">
    update receive_tar
    set resource_id = #{resourceId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      `status` = #{status,jdbcType=INTEGER},
      audit_user = #{auditUser,jdbcType=VARCHAR},
      audit_time = #{auditTime,jdbcType=TIMESTAMP},
      `type` = #{type,jdbcType=INTEGER},
      audit_depar = #{auditDepar,jdbcType=VARCHAR},
      audit_desc = #{auditDesc,jdbcType=VARCHAR},
      resource_code = #{resourceCode,jdbcType=VARCHAR},
      ebd_type = #{ebdType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
    <select id="list" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from receive_tar
        <where>
            <if test="resourceId != null">
                and resource_id = #{resourceId,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="status != null">
                and `status` = #{status,jdbcType=INTEGER}
            </if>
            <if test="auditUser != null">
                and audit_user = #{auditUser,jdbcType=VARCHAR}
            </if>
            <if test="auditTime != null">
                and audit_time = #{auditTime,jdbcType=TIMESTAMP}
            </if>
            <if test="type != null">
                and `type` = #{type,jdbcType=INTEGER}
            </if>
            <if test="auditDepar != null">
                and audit_depar = #{auditDepar,jdbcType=VARCHAR}
            </if>
            <if test="auditDesc != null">
                and audit_desc = #{auditDesc,jdbcType=VARCHAR}
            </if>
            <if test="resourceCode != null">
                and resource_code = #{resourceCode,jdbcType=VARCHAR}
            </if>
            <if test="ebdType != null">
                and ebd_type = #{ebdType,jdbcType=VARCHAR}
            </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${order} ${sort}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="begin != null and pageSize != null">
            limit #{begin},#{pageSize}
        </if>
    </select>
    <select id="count" resultType="int">
        select count(id) from receive_tar
        <where>
            <if test="resourceId != null">
                and resource_id = #{resourceId,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="status != null">
                and `status` = #{status,jdbcType=INTEGER}
            </if>
            <if test="auditUser != null">
                and audit_user = #{auditUser,jdbcType=VARCHAR}
            </if>
            <if test="auditTime != null">
                and audit_time = #{auditTime,jdbcType=TIMESTAMP}
            </if>
            <if test="type != null">
                and `type` = #{type,jdbcType=INTEGER}
            </if>
            <if test="auditDepar != null">
                and audit_depar = #{auditDepar,jdbcType=VARCHAR}
            </if>
            <if test="auditDesc != null">
                and audit_desc = #{auditDesc,jdbcType=VARCHAR}
            </if>
            <if test="resourceCode != null">
                and resource_code = #{resourceCode,jdbcType=VARCHAR}
            </if>
            <if test="ebdType != null">
                and ebd_type = #{ebdType,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>