<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>设备注册</title>
<!--easyui控件css -->
<link rel="stylesheet" type="text/css" href="/css/common/index.css">
<link id="easyuiTheme" rel="stylesheet" type="text/css"
	href="/easyui/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="/easyui/themes/icon.css">
<script src="/js/core/jquery.min.js"></script>
<!--easyui控件js -->
<script src="/easyui/jquery.easyui.min.js"></script>
<script src="/easyui/locale/easyui-lang-zh_CN.js"></script>
<script src="/js/common/uiTree.js"></script>
<script src="/js/complex/deviceRegist.js"></script>
<style type="text/css">
a:FOCUS {
	outline: none;
}
</style>
</head>
<body class="easyui-layout">

	<div id="registerDiv" data-options="region:'center'"
		style="padding: 10px;">
		<form id="dataForm" class="easyui-form" method="post">

			<table class="tab" cellpadding="3">

				<tr>
					<td style="text-align: center; width: 80px;">设备序列</td>
					<td><input class="easyui-textbox" id="devDsn" name="devDsn"
						th:value="${device.devdsn}"
						data-options="required:true,readonly:'true'" style="width: 200px;" />
					</td>
				</tr>

				<tr>
					<td style="text-align: center; width: 80px;">设备名称</td>
					<td><input class="easyui-textbox" id="devName" name="devName"
						data-options="required:true" style="width: 200px;"></td>
				</tr>


				<tr>
					<td style="text-align: center;">注册地址</td>
					<td><input id="devAddressCode" name="devAddressCode"
						data-options="required:true" style="width: 200px;"> <input
						type="hidden" id="devAddress" name="devAddress"></td>
				</tr>


				<tr>
					<td style="text-align: center;">设备坐标</td>
					<td><input id="coordinate" name="coordinate" value=""
						style="width: 200px;"></td>
				</tr>

				<tr>
					<td style="text-align: center;">设备型号</td>
					<td><select class="easyui-combobox easyui-validatebox"
						panelHeight="150"
						data-options="validType:'selectValueRequired[\'#deviceModelId\']'"
						name="deviceModelId" id="deviceModelId" style="width: 200px;">
						<option th:each="deviceModel,devStat:${deviceModelList}"
								th:text="${deviceModel.devmodel}" 
								th:value="${deviceModel.id}"/>
							<!-- <s:iterator value="#request.deviceModelList" var="deviceModel">
								<option value="${deviceModel.id}">${deviceModel.devModel}</option>
							</s:iterator> -->
					</select></td>
				</tr>
			</table>
		</form>
	</div>

	<div data-options="region:'south',border:false"
		style="text-align: right; padding: 5px 0 0;">
		<a id="baseSave" class="easyui-linkbutton"
			data-options="iconCls:'icon-ok'" href="javascript:void(0)"
			onclick="baseSave();" style="width: 80px"> 注册 </a> <a id="baseSave"
			class="easyui-linkbutton" data-options="iconCls:'icon-cancel'"
			href="javascript:void(0)" onclick="closeParentModal();"
			style="width: 80px"> 关闭 </a>
	</div>


	<div id="coordinateMap" style="width: 398px; height: 198px;">
		<iframe id="coordinateMapIframe" scrolling="auto" frameborder="0"
			src="" style="width: 100%; height: 100%;"> </iframe>
	</div>
</body>
</html>