<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>设备信息</title>
<!--easyui控件css -->
<link id="easyuiTheme" rel="stylesheet" type="text/css"
	href="/easyui/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="/easyui/themes/icon.css">
<script src="/js/core/jquery.min.js"></script>
<!--easyui控件js -->
<script src="/easyui/jquery.easyui.min.js"></script>
<script src="/easyui/locale/easyui-lang-zh_CN.js"></script>
<script src="/js/complex/user_list.js"></script>
<style type="text/css">
html, body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

a:FOCUS {
	outline: none;
}

#detailInfoBtn {
	height: 15px;
	line-height: 15px;
	padding: 0px 10px;
	background: #E8F1FF;
	border: 1px #26bbdb solid;
	border-radius: 3px;
	display: inline-block;
	text-decoration: none;
	font-size: 12px;
	outline: none;
}

#detailInfoBtn:hover {
	background: #4d92ff;
}
</style>

</head>
<body class="easyui-layout">

	<div id="MyBtnDiv" style="height: 30px; padding: 1px 5px 3px 5px;">
		<a href="#" class="easyui-linkbutton" plain="true" iconCls="icon-add"
			onclick="add();">增加</a> <a href="#" class="easyui-linkbutton"
			plain="true" iconCls="icon-edit" onclick="edit();">修改</a> <a href="#"
			class="easyui-linkbutton" plain="true" iconCls="icon-remove"
			onclick="remove();">删除</a> <a href="#" class="easyui-linkbutton"
			plain="true" iconCls="icon-edit" onclick="editPass();">修改密码</a> <font
			style="height: 30px; line-height: 30px;">&emsp;&emsp;搜索:</font> <input
			class="easyui-searchbox" id="searchValue" name="searchValue" value=''
			data-options="prompt:'请输入用户名称',searcher:doSearch"
			style="width: 180px; height: 23px;">
	</div>


	<div data-options="region:'center'" title="用户列表" fit="true"
		iconCls="icon-extendlist">
		<table id="mainTab" class="easyui-datagrid"
			data-options="border:false" toolbar="#MyBtnDiv">
		</table>
	</div>



	<div id="editModal" class="easyui-window" title="用户添加"
		data-options="iconCls:'icon-extenduser',shadow:false,modal:true,closed:true"
		style="width: 600px; height: 300px; padding: 5px;">
		<iframe id="editIframe" scrolling="auto" frameborder="0" src=""
			style="width: 100%; height: 100%;"> </iframe>
	</div>


</body>
</html>