<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.gospell.chitong.rdcenter.broadcast.complexManage.dao.instruction.CmdConfigMapper">
	<resultMap id="BaseResultMap"
		type="com.gospell.chitong.rdcenter.broadcast.complexManage.entity.instruction.CmdConfig">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="tag" jdbcType="INTEGER" property="tag" />
		<result column="length" jdbcType="INTEGER" property="length" />
		<result column="cmd" jdbcType="VARCHAR" property="cmd" />
	</resultMap>
	<sql id="Base_Column_List">
		id, `name`, tag, length, cmd
	</sql>
	<select id="selectByPrimaryKey"
		parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from cmd_config
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from cmd_config
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert"
		parameterType="com.gospell.chitong.rdcenter.broadcast.complexManage.entity.instruction.CmdConfig">
		insert into cmd_config (id, `name`, tag,
		length, cmd)
		values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
		#{tag,jdbcType=INTEGER},
		#{length,jdbcType=INTEGER}, #{cmd,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective"
		parameterType="com.gospell.chitong.rdcenter.broadcast.complexManage.entity.instruction.CmdConfig">
		insert into cmd_config
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				`name`,
			</if>
			<if test="tag != null">
				tag,
			</if>
			<if test="length != null">
				length,
			</if>
			<if test="cmd != null">
				cmd,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="tag != null">
				#{tag,jdbcType=INTEGER},
			</if>
			<if test="length != null">
				#{length,jdbcType=INTEGER},
			</if>
			<if test="cmd != null">
				#{cmd,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.gospell.chitong.rdcenter.broadcast.complexManage.entity.instruction.CmdConfig">
		update cmd_config
		<set>
			<if test="name != null">
				`name` = #{name,jdbcType=VARCHAR},
			</if>
			<if test="tag != null">
				tag = #{tag,jdbcType=INTEGER},
			</if>
			<if test="length != null">
				length = #{length,jdbcType=INTEGER},
			</if>
			<if test="cmd != null">
				cmd = #{cmd,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.gospell.chitong.rdcenter.broadcast.complexManage.entity.instruction.CmdConfig">
		update cmd_config
		set `name` = #{name,jdbcType=VARCHAR},
		tag = #{tag,jdbcType=INTEGER},
		length = #{length,jdbcType=INTEGER},
		cmd = #{cmd,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<select id="list" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from cmd_config
		<where>
			<if test="id != null">
				and #{id,jdbcType=INTEGER}
			</if>
			<if test="name != null">
				and #{name,jdbcType=VARCHAR}
			</if>
			<if test="tag != null">
				and #{tag,jdbcType=INTEGER}
			</if>
			<if test="length != null">
				and #{length,jdbcType=INTEGER}
			</if>
			<if test="cmd != null">
				and #{cmd,jdbcType=VARCHAR}
			</if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${order} ${sort}
			</when>
			<otherwise>
				order by id desc
			</otherwise>
		</choose>
		<if test="begin != null and pageSize != null">
			limit #{begin},#{pageSize}
		</if>
	</select>
	<select id="count" resultType="int">
		select count(*) from cmd_config
		<where>
			<if test="id != null">
				and #{id,jdbcType=INTEGER}
			</if>
			<if test="name != null">
				and #{name,jdbcType=VARCHAR}
			</if>
			<if test="tag != null">
				and #{tag,jdbcType=INTEGER}
			</if>
			<if test="length != null">
				and #{length,jdbcType=INTEGER}
			</if>
			<if test="cmd != null">
				and #{cmd,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
</mapper>