<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.gospell.chitong.rdcenter.broadcast.complexManage.dao.instruction.CmdFreqMapper">
	<resultMap id="BaseResultMap"
		type="com.gospell.chitong.rdcenter.broadcast.complexManage.entity.instruction.CMDFreq">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="tag" jdbcType="INTEGER" property="tag" />
		<result column="length" jdbcType="INTEGER" property="length" />
		<result column="freq" jdbcType="INTEGER" property="freq" />
		<result column="symbol_rate" jdbcType="INTEGER"
			property="symbolRate" />
		<result column="constellation_mapping" jdbcType="INTEGER"
			property="constellationMapping" />
		<result column="terminal_number" jdbcType="INTEGER"
			property="terminalNumber" />
		<result column="reserved" jdbcType="INTEGER"
			property="reserved" />
		<result column="resource_address" jdbcType="VARCHAR"
			property="resourceAddress" />
	</resultMap>
	<sql id="Base_Column_List">
		id, `name`, tag, `length`, freq, symbol_rate, constellation_mapping,
		terminal_number,
		reserved, resource_address
	</sql>
	<select id="selectByPrimaryKey"
		parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from cmd_freq
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from cmd_freq
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert"
		parameterType="com.gospell.chitong.rdcenter.broadcast.complexManage.entity.instruction.CMDFreq">
		insert into cmd_freq (id, `name`, tag,
		`length`, freq, symbol_rate,
		constellation_mapping, terminal_number, reserved,
		resource_address)
		values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
		#{tag,jdbcType=INTEGER},
		#{length,jdbcType=INTEGER}, #{freq,jdbcType=INTEGER}, #{symbolRate,jdbcType=INTEGER},
		#{constellationMapping,jdbcType=INTEGER},
		#{terminalNumber,jdbcType=INTEGER}, #{reserved,jdbcType=INTEGER},
		#{resourceAddress,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective"
		parameterType="com.gospell.chitong.rdcenter.broadcast.complexManage.entity.instruction.CMDFreq">
		insert into cmd_freq
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				`name`,
			</if>
			<if test="tag != null">
				tag,
			</if>
			<if test="length != null">
				`length`,
			</if>
			<if test="freq != null">
				freq,
			</if>
			<if test="symbolRate != null">
				symbol_rate,
			</if>
			<if test="constellationMapping != null">
				constellation_mapping,
			</if>
			<if test="terminalNumber != null">
				terminal_number,
			</if>
			<if test="reserved != null">
				reserved,
			</if>
			<if test="resourceAddress != null">
				resource_address,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="tag != null">
				#{tag,jdbcType=INTEGER},
			</if>
			<if test="length != null">
				#{length,jdbcType=INTEGER},
			</if>
			<if test="freq != null">
				#{freq,jdbcType=INTEGER},
			</if>
			<if test="symbolRate != null">
				#{symbolRate,jdbcType=INTEGER},
			</if>
			<if test="constellationMapping != null">
				#{constellationMapping,jdbcType=INTEGER},
			</if>
			<if test="terminalNumber != null">
				#{terminalNumber,jdbcType=INTEGER},
			</if>
			<if test="reserved != null">
				#{reserved,jdbcType=INTEGER},
			</if>
			<if test="resourceAddress != null">
				#{resourceAddress,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.gospell.chitong.rdcenter.broadcast.complexManage.entity.instruction.CMDFreq">
		update cmd_freq
		<set>
			<if test="name != null">
				`name` = #{name,jdbcType=VARCHAR},
			</if>
			<if test="tag != null">
				tag = #{tag,jdbcType=INTEGER},
			</if>
			<if test="length != null">
				`length` = #{length,jdbcType=INTEGER},
			</if>
			<if test="freq != null">
				freq = #{freq,jdbcType=INTEGER},
			</if>
			<if test="symbolRate != null">
				symbol_rate = #{symbolRate,jdbcType=INTEGER},
			</if>
			<if test="constellationMapping != null">
				constellation_mapping = #{constellationMapping,jdbcType=INTEGER},
			</if>
			<if test="terminalNumber != null">
				terminal_number = #{terminalNumber,jdbcType=INTEGER},
			</if>
			<if test="reserved != null">
				reserved = #{reserved,jdbcType=INTEGER},
			</if>
			<if test="resourceAddress != null">
				resource_address = #{resourceAddress,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.gospell.chitong.rdcenter.broadcast.complexManage.entity.instruction.CMDFreq">
		update cmd_freq
		set `name` = #{name,jdbcType=VARCHAR},
		tag = #{tag,jdbcType=INTEGER},
		`length` = #{length,jdbcType=INTEGER},
		freq = #{freq,jdbcType=INTEGER},
		symbol_rate = #{symbolRate,jdbcType=INTEGER},
		constellation_mapping = #{constellationMapping,jdbcType=INTEGER},
		terminal_number = #{terminalNumber,jdbcType=INTEGER},
		reserved = #{reserved,jdbcType=INTEGER},
		resource_address = #{resourceAddress,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<select id="list" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from cmd_freq
		<where>
			<if test="name != null">
				and `name` = #{name,jdbcType=VARCHAR}
			</if>
			<if test="tag != null">
				and tag = #{tag,jdbcType=INTEGER}
			</if>
			<if test="length != null">
				and `length` = #{length,jdbcType=INTEGER}
			</if>
			<if test="freq != null">
				and freq = #{freq,jdbcType=INTEGER}
			</if>
			<if test="symbolRate != null">
				and symbol_rate = #{symbolRate,jdbcType=INTEGER}
			</if>
			<if test="constellationMapping != null">
				and constellation_mapping = #{constellationMapping,jdbcType=INTEGER}
			</if>
			<if test="terminalNumber != null">
				and terminal_number = #{terminalNumber,jdbcType=INTEGER}
			</if>
			<if test="reserved != null">
				and reserved = #{reserved,jdbcType=INTEGER}
			</if>
			<if test="resourceAddress != null">
				and resource_address = #{resourceAddress,jdbcType=VARCHAR}
			</if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by id desc
			</otherwise>
		</choose>
		<if test="begin != null and pageSize != null">
			limit #{begin},#{pageSize}
		</if>
	</select>
	<select id="count" resultType="int">
		select count(id) from cmd_freq
		<where>
			<if test="name != null">
				and `name` = #{name,jdbcType=VARCHAR}
			</if>
			<if test="tag != null">
				and tag = #{tag,jdbcType=INTEGER}
			</if>
			<if test="length != null">
				and `length` = #{length,jdbcType=INTEGER}
			</if>
			<if test="freq != null">
				and freq = #{freq,jdbcType=INTEGER}
			</if>
			<if test="symbolRate != null">
				and symbol_rate = #{symbolRate,jdbcType=INTEGER}
			</if>
			<if test="constellationMapping != null">
				and constellation_mapping = #{constellationMapping,jdbcType=INTEGER}
			</if>
			<if test="terminalNumber != null">
				and terminal_number = #{terminalNumber,jdbcType=INTEGER}
			</if>
			<if test="reserved != null">
				and reserved = #{reserved,jdbcType=INTEGER}
			</if>
			<if test="resourceAddress != null">
				and resource_address = #{resourceAddress,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
</mapper>