<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gospell.chitong.rdcenter.broadcast.test.dao.UserInfoMapper">
  <resultMap id="BaseResultMap" type="com.gospell.chitong.rdcenter.broadcast.test.entity.UserInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="userName" jdbcType="VARCHAR" property="username" />
    <result column="userCode" jdbcType="VARCHAR" property="usercode" />
    <result column="userPassword" jdbcType="VARCHAR" property="userpassword" />
    <result column="userSex" jdbcType="INTEGER" property="usersex" />
    <result column="phoneNum" jdbcType="VARCHAR" property="phonenum" />
    <result column="userAreCode" jdbcType="VARCHAR" property="userarecode" />
    <result column="userAreCodeLevel" jdbcType="VARCHAR" property="userarecodelevel" />
    <result column="userAreCodeName" jdbcType="VARCHAR" property="userarecodename" />
    <result column="roleGroupInfo_id" jdbcType="BIGINT" property="rolegroupinfoId" />
    <result column="timemodify" jdbcType="TIMESTAMP" property="timemodify" />
    <result column="usercreated" jdbcType="VARCHAR" property="usercreated" />
    <result column="usermodify" jdbcType="VARCHAR" property="usermodify" />
    <result column="createdTime" jdbcType="TIMESTAMP" property="createdtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, userName, userCode, userPassword, userSex, phoneNum, userAreCode, userAreCodeLevel, 
    userAreCodeName, roleGroupInfo_id, timemodify, usercreated, usermodify, createdTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.gospell.chitong.rdcenter.broadcast.test.entity.UserInfo">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_info (id, userName, userCode, 
      userPassword, userSex, phoneNum, 
      userAreCode, userAreCodeLevel, userAreCodeName, 
      roleGroupInfo_id, timemodify, usercreated, 
      usermodify, createdTime)
    values (#{id,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{usercode,jdbcType=VARCHAR}, 
      #{userpassword,jdbcType=VARCHAR}, #{usersex,jdbcType=INTEGER}, #{phonenum,jdbcType=VARCHAR}, 
      #{userarecode,jdbcType=VARCHAR}, #{userarecodelevel,jdbcType=VARCHAR}, #{userarecodename,jdbcType=VARCHAR}, 
      #{rolegroupinfoId,jdbcType=BIGINT}, #{timemodify,jdbcType=TIMESTAMP}, #{usercreated,jdbcType=VARCHAR}, 
      #{usermodify,jdbcType=VARCHAR}, #{createdtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.gospell.chitong.rdcenter.broadcast.test.entity.UserInfo">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      id,
      <if test="username != null">
        userName,
      </if>
      <if test="usercode != null">
        userCode,
      </if>
      <if test="userpassword != null">
        userPassword,
      </if>
      <if test="usersex != null">
        userSex,
      </if>
      <if test="phonenum != null">
        phoneNum,
      </if>
      <if test="userarecode != null">
        userAreCode,
      </if>
      <if test="userarecodelevel != null">
        userAreCodeLevel,
      </if>
      <if test="userarecodename != null">
        userAreCodeName,
      </if>
      <if test="rolegroupinfoId != null">
        roleGroupInfo_id,
      </if>
      <if test="timemodify != null">
        timemodify,
      </if>
      <if test="usercreated != null">
        usercreated,
      </if>
      <if test="usermodify != null">
        usermodify,
      </if>
      <if test="createdtime != null">
        createdTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=BIGINT},
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="usercode != null">
        #{usercode,jdbcType=VARCHAR},
      </if>
      <if test="userpassword != null">
        #{userpassword,jdbcType=VARCHAR},
      </if>
      <if test="usersex != null">
        #{usersex,jdbcType=INTEGER},
      </if>
      <if test="phonenum != null">
        #{phonenum,jdbcType=VARCHAR},
      </if>
      <if test="userarecode != null">
        #{userarecode,jdbcType=VARCHAR},
      </if>
      <if test="userarecodelevel != null">
        #{userarecodelevel,jdbcType=VARCHAR},
      </if>
      <if test="userarecodename != null">
        #{userarecodename,jdbcType=VARCHAR},
      </if>
      <if test="rolegroupinfoId != null">
        #{rolegroupinfoId,jdbcType=BIGINT},
      </if>
      <if test="timemodify != null">
        #{timemodify,jdbcType=TIMESTAMP},
      </if>
      <if test="usercreated != null">
        #{usercreated,jdbcType=VARCHAR},
      </if>
      <if test="usermodify != null">
        #{usermodify,jdbcType=VARCHAR},
      </if>
      <if test="createdtime != null">
        #{createdtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gospell.chitong.rdcenter.broadcast.test.entity.UserInfo">
    update user_info
    <set>
      <if test="username != null">
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="usercode != null">
        userCode = #{usercode,jdbcType=VARCHAR},
      </if>
      <if test="userpassword != null">
        userPassword = #{userpassword,jdbcType=VARCHAR},
      </if>
      <if test="usersex != null">
        userSex = #{usersex,jdbcType=INTEGER},
      </if>
      <if test="phonenum != null">
        phoneNum = #{phonenum,jdbcType=VARCHAR},
      </if>
      <if test="userarecode != null">
        userAreCode = #{userarecode,jdbcType=VARCHAR},
      </if>
      <if test="userarecodelevel != null">
        userAreCodeLevel = #{userarecodelevel,jdbcType=VARCHAR},
      </if>
      <if test="userarecodename != null">
        userAreCodeName = #{userarecodename,jdbcType=VARCHAR},
      </if>
      <if test="rolegroupinfoId != null">
        roleGroupInfo_id = #{rolegroupinfoId,jdbcType=BIGINT},
      </if>
      <if test="timemodify != null">
        timemodify = #{timemodify,jdbcType=TIMESTAMP},
      </if>
      <if test="usercreated != null">
        usercreated = #{usercreated,jdbcType=VARCHAR},
      </if>
      <if test="usermodify != null">
        usermodify = #{usermodify,jdbcType=VARCHAR},
      </if>
      <if test="createdtime != null">
        createdTime = #{createdtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gospell.chitong.rdcenter.broadcast.test.entity.UserInfo">
    update user_info
    set userName = #{username,jdbcType=VARCHAR},
      userCode = #{usercode,jdbcType=VARCHAR},
      userPassword = #{userpassword,jdbcType=VARCHAR},
      userSex = #{usersex,jdbcType=INTEGER},
      phoneNum = #{phonenum,jdbcType=VARCHAR},
      userAreCode = #{userarecode,jdbcType=VARCHAR},
      userAreCodeLevel = #{userarecodelevel,jdbcType=VARCHAR},
      userAreCodeName = #{userarecodename,jdbcType=VARCHAR},
      roleGroupInfo_id = #{rolegroupinfoId,jdbcType=BIGINT},
      timemodify = #{timemodify,jdbcType=TIMESTAMP},
      usercreated = #{usercreated,jdbcType=VARCHAR},
      usermodify = #{usermodify,jdbcType=VARCHAR},
      createdTime = #{createdtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>