<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>角色管理</title>
    <!--easyui控件css -->
    <link id="easyuiTheme" rel="stylesheet" type="text/css"
          href="/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/easyui/themes/icon.css">
    <script src="/js/core/jquery.min.js"></script>
    <!--easyui控件js -->
    <script src="/easyui/jquery.easyui.min.js"></script>
    <script src="/easyui/locale/easyui-lang-zh_CN.js"></script>
    <script src="/js/complex/sys/role_list.js"></script>
</head>
<body class="easyui-layout">
<div id="MyBtnDiv" style="height:30px;padding:1px 5px 3px 5px;">
    <shiro:hasPermission name="sys:role:add">
        <a href="#" class="easyui-linkbutton" plain="true" iconCls="icon-add" onclick="add();">增加</a>
    </shiro:hasPermission>
    <shiro:hasPermission name="sys:role:edit">
        <a href="#" class="easyui-linkbutton" plain="true" iconCls="icon-edit" onclick="edit();">修改</a>
    </shiro:hasPermission>
    <shiro:hasPermission name="sys:role:delete">
        <a href="#" class="easyui-linkbutton" plain="true" iconCls="icon-remove" onclick="remove();">删除</a>
    </shiro:hasPermission>
    <font style="height:30px;line-height: 30px;">&emsp;&emsp;搜索:</font>
    <input class="easyui-searchbox" id="search" name="search" data-options="prompt:'请输入用户名',searcher:doSearch" style="width:180px;height:23px;">
</div>
<div data-options="region:'center'" border="true" iconCls="icon-extendlist" title="角色列表" style="height:auto;">
    <table id="mainTab" class="easyui-datagrid" style="width:100%;height:auto;"
           toolbar="#MyBtnDiv" border="false">
    </table>
</div>

<div id="editModal" class="easyui-window" title="角色添加"
     data-options="iconCls:'icon-extenduser',shadow:false,modal:true,closed:true,fit:true"
     style="width:600px;height:320px;padding:5px;">
    <iframe id="editIframe" scrolling="auto" frameborder="0" style="width:100%;height:100%;"></iframe>
</div>
</body>
</html>