<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>统计图表</title>
<!--easyui控件css -->
<link  id="easyuiTheme" rel="stylesheet" type="text/css" href="/easyui/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="/easyui/themes/icon.css">
<link rel="stylesheet" type="text/css" href="/css/boradcast/statistics.css">

<script src="/js/core/jquery.min.js"></script>
<!--easyui控件js -->
<script src="/easyui/jquery.easyui.min.js"></script>
<script src="/easyui/locale/easyui-lang-zh_CN.js"></script>
<script src="/js/broadcast/emerPlan_list.js"></script>
<!-- echarts插件 -->
<script src="/js/core/echarts.min.js"></script>
<script src="/js/common/commonUtil.js"></script>
<script src="/js/broadcast/statistics.js"></script>
</head>
<body id="body" class="easyui-layout" style="">

	<div data-options="region:'north',title:'应急信息情况统计',split:true" style="height:50%;">
		<!--
		<div id="annual_control_div" style="width: 200px;height:100%;background: red;float:left;"></div> 
		<div id="annual_statistics" style="height:100%; width:calc(100% - 200px);float:left;">
			
		</div>
		-->
		
		<div id="annual_statistics" style="height:100%; width:100%;float:left;">
			
		</div>
		
	</div>   
	
	<div data-options="region:'west',title:'应急信息播发状态统计',split:true" style="width:50%;">
		<div id="pie_statistics" style="height:100%;width:100%;float:left;"></div>
	</div>
	
    <div data-options="region:'east',title:'应急信息类型统计',split:true" style="width:50%;">
    	<div id="pie_accident_type_statistics" style="height:100%;width:100%;float:left;"></div>
    </div>   
       

	<!-- <div data-options="region:'east',title:'应急信息列表',split:true"
		iconCls:="icon-reload" style="width:350px;">
		<div id="MyBtnDiv" style="height:auto;">
			<div id="" style="height:25px;padding:1px 5px 3px 5px;">
				<font style="height:25px;line-height:27px;">&nbsp;&nbsp;搜索:</font> <input
					class="easyui-searchbox" id="searchValue" name="searchValue"
					value='' data-options="prompt:'请输入应急信息名称',searcher:doSearch"
					style="width:180px;height:23px;">
			</div>
		</div>

		<table id="mainTab" class="easyui-datagrid" toolbar="#MyBtnDiv"
			border="false" data-options="fit:true">
		</table>
	</div> -->
</body>
</html>