<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>播发语言</title>
<!--easyui控件css -->
<link id="easyuiTheme" rel="stylesheet" type="text/css"
	href="/easyui/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="/easyui/themes/icon.css">
<script src="/js/core/jquery.min.js"></script>
<!--easyui控件js -->
<script src="/easyui/jquery.easyui.min.js"></script>
<script src="/easyui/locale/easyui-lang-zh_CN.js"></script>
<script src="/js/complex/param/displayMethod_list.js"></script>
<style type="text/css">
html, body {
	padding: 0px;
	margin: 0px;
}
</style>
</head>
<body id="body">
	<div class="easyui-panel" title="播发方式列表"
		style="padding: 1px; width: 100%;"
		data-options="iconCls:'icon-extendlist',closable:true,collapsible:true,fit:true">
		<div id="MyBtnDiv" style="height: 30px; padding: 3px 5px 0px 5px;">
			<shiro:hasPermission name="param:method:add">
				<a href="#" class="easyui-linkbutton" plain="true" iconCls="icon-add"
					onclick="add();">增加</a> 
			</shiro:hasPermission>
			<shiro:hasPermission name="param:method:edit">
				<a href="#" class="easyui-linkbutton"
					plain="true" iconCls="icon-edit" onclick="edit();">修改</a> 
			</shiro:hasPermission>
			<shiro:hasPermission name="param:method:delete">
				<a href="#" class="easyui-linkbutton" plain="true"
					iconCls="icon-remove" onclick="remove();">删除</a> 
			</shiro:hasPermission>
			<input id="searchText" class="easyui-searchbox"
				data-options="prompt:'输入播发方式名称',searcher:doSearch"
				style="width: 200px; height: 23px;">
		</div>
		<table id="mainTab" class="easyui-datagrid"
			style="width: 100%; height: auto; border-top: 1px solid red;"
			toolbar="#MyBtnDiv" data-options="border:false,striped:true,fit:true">
		</table>
	</div>
	<div id="editModal" class="easyui-window" title="播发方式编辑"
		data-options="iconCls:'icon-extenduser',shadow:false,modal:true,closed:true"
		style="width: 600px; height: 350px; padding: 5px;">
		<iframe id="editIframe" scrolling="auto" frameborder="0" src=""
			style="width: 100%; height: 100%;"> </iframe>
	</div>
</body>
</html>