<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.gospell.chitong.rdcenter.broadcast.complexManage.dao.sys.UserLogMapper">
	<resultMap id="BaseResultMap"
		type="com.gospell.chitong.rdcenter.broadcast.complexManage.entity.log.UserLog">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="clientIp" jdbcType="VARCHAR"
			property="clientip" />
		<result column="urlModule" jdbcType="VARCHAR"
			property="urlmodule" />
		<result column="urlFunction" jdbcType="VARCHAR"
			property="urlfunction" />
		<result column="create_time" jdbcType="TIMESTAMP"
			property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP"
			property="updateTime" />
		<result column="url" jdbcType="VARCHAR" property="url" />
		<result column="user_id" jdbcType="INTEGER" property="userId" />
		<result column="user_name" jdbcType="VARCHAR"
			property="userName" />
		<result column="role_name" jdbcType="VARCHAR"
			property="roleName" />
		<result column="role_id" jdbcType="VARCHAR" property="roleId" />
	</resultMap>
	<resultMap extends="BaseResultMap" id="ResultMapWithBLOBs"
		type="com.gospell.chitong.rdcenter.broadcast.complexManage.entity.log.UserLog">
		<result column="des" jdbcType="LONGVARCHAR" property="des" />
	</resultMap>
	<sql id="Base_Column_List">
		id, clientIp, urlModule, urlFunction, create_time, update_time, url,
		user_id, user_name,
		role_name, role_id
	</sql>
	<sql id="Blob_Column_List">
		des
	</sql>
	<select id="selectByPrimaryKey"
		parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from user_log
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from user_log
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert"
		parameterType="com.gospell.chitong.rdcenter.broadcast.complexManage.entity.log.UserLog">
		<selectKey keyProperty="id" order="AFTER"
			resultType="java.lang.Integer">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into user_log (clientIp, urlModule, urlFunction,
		create_time, update_time, url,
		user_id, user_name, role_name,
		role_id, des)
		values (#{clientip,jdbcType=VARCHAR}, #{urlmodule,jdbcType=VARCHAR},
		#{urlfunction,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{url,jdbcType=VARCHAR},
		#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR},
		#{roleName,jdbcType=VARCHAR},
		#{roleId,jdbcType=VARCHAR}, #{des,jdbcType=LONGVARCHAR})
	</insert>
	<insert id="insertSelective"
		parameterType="com.gospell.chitong.rdcenter.broadcast.complexManage.entity.log.UserLog">
		<selectKey keyProperty="id" order="AFTER"
			resultType="java.lang.Integer">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into user_log
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="clientip != null">
				clientIp,
			</if>
			<if test="urlmodule != null">
				urlModule,
			</if>
			<if test="urlfunction != null">
				urlFunction,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="url != null">
				url,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="userName != null">
				user_name,
			</if>
			<if test="roleName != null">
				role_name,
			</if>
			<if test="roleId != null">
				role_id,
			</if>
			<if test="des != null">
				des,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="clientip != null">
				#{clientip,jdbcType=VARCHAR},
			</if>
			<if test="urlmodule != null">
				#{urlmodule,jdbcType=VARCHAR},
			</if>
			<if test="urlfunction != null">
				#{urlfunction,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="url != null">
				#{url,jdbcType=VARCHAR},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="userName != null">
				#{userName,jdbcType=VARCHAR},
			</if>
			<if test="roleName != null">
				#{roleName,jdbcType=VARCHAR},
			</if>
			<if test="roleId != null">
				#{roleId,jdbcType=VARCHAR},
			</if>
			<if test="des != null">
				#{des,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.gospell.chitong.rdcenter.broadcast.complexManage.entity.log.UserLog">
		update user_log
		<set>
			<if test="clientip != null">
				clientIp = #{clientip,jdbcType=VARCHAR},
			</if>
			<if test="urlmodule != null">
				urlModule = #{urlmodule,jdbcType=VARCHAR},
			</if>
			<if test="urlfunction != null">
				urlFunction = #{urlfunction,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="url != null">
				url = #{url,jdbcType=VARCHAR},
			</if>
			<if test="userId != null">
				user_id = #{userId,jdbcType=INTEGER},
			</if>
			<if test="userName != null">
				user_name = #{userName,jdbcType=VARCHAR},
			</if>
			<if test="roleName != null">
				role_name = #{roleName,jdbcType=VARCHAR},
			</if>
			<if test="roleId != null">
				role_id = #{roleId,jdbcType=VARCHAR},
			</if>
			<if test="des != null">
				des = #{des,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKeyWithBLOBs"
		parameterType="com.gospell.chitong.rdcenter.broadcast.complexManage.entity.log.UserLog">
		update user_log
		set clientIp = #{clientip,jdbcType=VARCHAR},
		urlModule = #{urlmodule,jdbcType=VARCHAR},
		urlFunction = #{urlfunction,jdbcType=VARCHAR},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		update_time = #{updateTime,jdbcType=TIMESTAMP},
		url = #{url,jdbcType=VARCHAR},
		user_id = #{userId,jdbcType=INTEGER},
		user_name = #{userName,jdbcType=VARCHAR},
		role_name = #{roleName,jdbcType=VARCHAR},
		role_id = #{roleId,jdbcType=VARCHAR},
		des = #{des,jdbcType=LONGVARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.gospell.chitong.rdcenter.broadcast.complexManage.entity.log.UserLog">
		update user_log
		set clientIp = #{clientip,jdbcType=VARCHAR},
		urlModule = #{urlmodule,jdbcType=VARCHAR},
		urlFunction = #{urlfunction,jdbcType=VARCHAR},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		update_time = #{updateTime,jdbcType=TIMESTAMP},
		url = #{url,jdbcType=VARCHAR},
		user_id = #{userId,jdbcType=INTEGER},
		user_name = #{userName,jdbcType=VARCHAR},
		role_name = #{roleName,jdbcType=VARCHAR},
		role_id = #{roleId,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<select id="list" resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from user_log
		<where>
			<if test="clientip != null">
				and clientIp = #{clientip,jdbcType=VARCHAR}
			</if>
			<if test="urlmodule != null">
				and urlModule = #{urlmodule,jdbcType=VARCHAR}
			</if>
			<if test="urlfunction != null">
				and urlFunction = #{urlfunction,jdbcType=VARCHAR}
			</if>
			<if test="createTime != null">
				and create_time = #{createTime,jdbcType=TIMESTAMP}
			</if>
			<if test="updateTime != null">
				and update_time = #{updateTime,jdbcType=TIMESTAMP}
			</if>
			<if test="url != null">
				and url = #{url,jdbcType=VARCHAR}
			</if>
			<if test="userId != null">
				and user_id = #{userId,jdbcType=INTEGER}
			</if>
			<if test="userName != null">
				and user_name = #{userName,jdbcType=VARCHAR}
			</if>
			<if test="roleName != null">
				and role_name = #{roleName,jdbcType=VARCHAR}
			</if>
			<if test="roleId != null">
				and role_id = #{roleId,jdbcType=VARCHAR}
			</if>
			<if test="des != null">
				and des = #{des,jdbcType=LONGVARCHAR}
			</if>
			<choose>
				<when test="sort != null and sort.trim() != ''">
					order by ${order} ${sort}
				</when>
				<otherwise>
					order by id desc
				</otherwise>
			</choose>
			<if test="begin != null and pageSize != null">
				limit #{begin},#{pageSize}
			</if>
		</where>
	</select>
	<select id="count" resultType="int">
		select count(*) from user_log
		<where>
			<if test="clientip != null">
				and clientIp = #{clientip,jdbcType=VARCHAR}
			</if>
			<if test="urlmodule != null">
				and urlModule = #{urlmodule,jdbcType=VARCHAR}
			</if>
			<if test="urlfunction != null">
				and urlFunction = #{urlfunction,jdbcType=VARCHAR}
			</if>
			<if test="createTime != null">
				and create_time = #{createTime,jdbcType=TIMESTAMP}
			</if>
			<if test="updateTime != null">
				and update_time = #{updateTime,jdbcType=TIMESTAMP}
			</if>
			<if test="url != null">
				and url = #{url,jdbcType=VARCHAR}
			</if>
			<if test="userId != null">
				and user_id = #{userId,jdbcType=INTEGER}
			</if>
			<if test="userName != null">
				and user_name = #{userName,jdbcType=VARCHAR}
			</if>
			<if test="roleName != null">
				and role_name = #{roleName,jdbcType=VARCHAR}
			</if>
			<if test="roleId != null">
				and role_id = #{roleId,jdbcType=VARCHAR}
			</if>
			<if test="des != null">
				and des = #{des,jdbcType=LONGVARCHAR}
			</if>
		</where>
	</select>
</mapper>