<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.gospell.chitong.rdcenter.broadcast.complexManage.dao.AdministrativeMapper">
	<resultMap id="BaseResultMap"
		type="com.gospell.chitong.rdcenter.broadcast.complexManage.entity.Administrative">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="code" jdbcType="VARCHAR" property="code" />
		<result column="code_level" jdbcType="INTEGER"
			property="codeLevel" />
		<result column="latitude" jdbcType="VARCHAR"
			property="latitude" />
		<result column="longitude" jdbcType="VARCHAR"
			property="longitude" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="parent_code" jdbcType="VARCHAR"
			property="parentCode" />
		<result column="parent_path" jdbcType="VARCHAR"
			property="parentPath" />
		<result column="create_time" jdbcType="TIMESTAMP"
			property="createTime" />
		<result column="create_by" jdbcType="VARCHAR"
			property="createBy" />
		<result column="update_time" jdbcType="TIMESTAMP"
			property="updateTime" />
		<result column="update_by" jdbcType="VARCHAR"
			property="updateBy" />
	</resultMap>
	<sql id="Base_Column_List">
		id, code, code_level, latitude, longitude, name, parent_code,
		parent_path, create_time,
		create_by, update_time, update_by
	</sql>
	<select id="selectByPrimaryKey"
		parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from administrative
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from administrative
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert"
		parameterType="com.gospell.chitong.rdcenter.broadcast.complexManage.entity.Administrative">
		<selectKey keyProperty="id" order="AFTER"
			resultType="java.lang.Integer">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into administrative (code, code_level, latitude,
		longitude, name, parent_code,
		parent_path, create_time, create_by,
		update_time, update_by)
		values (#{code,jdbcType=VARCHAR}, #{codeLevel,jdbcType=INTEGER},
		#{latitude,jdbcType=VARCHAR},
		#{longitude,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{parentCode,jdbcType=VARCHAR},
		#{parentPath,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
		#{createBy,jdbcType=VARCHAR},
		#{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective"
		parameterType="com.gospell.chitong.rdcenter.broadcast.complexManage.entity.Administrative">
		<selectKey keyProperty="id" order="AFTER"
			resultType="java.lang.Integer">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into administrative
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="code != null">
				code,
			</if>
			<if test="codeLevel != null">
				code_level,
			</if>
			<if test="latitude != null">
				latitude,
			</if>
			<if test="longitude != null">
				longitude,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="parentCode != null">
				parent_code,
			</if>
			<if test="parentPath != null">
				parent_path,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="createBy != null">
				create_by,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="updateBy != null">
				update_by,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="code != null">
				#{code,jdbcType=VARCHAR},
			</if>
			<if test="codeLevel != null">
				#{codeLevel,jdbcType=INTEGER},
			</if>
			<if test="latitude != null">
				#{latitude,jdbcType=VARCHAR},
			</if>
			<if test="longitude != null">
				#{longitude,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="parentCode != null">
				#{parentCode,jdbcType=VARCHAR},
			</if>
			<if test="parentPath != null">
				#{parentPath,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null">
				#{createBy,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null">
				#{updateBy,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.gospell.chitong.rdcenter.broadcast.complexManage.entity.Administrative">
		update administrative
		<set>
			<if test="code != null">
				code = #{code,jdbcType=VARCHAR},
			</if>
			<if test="codeLevel != null">
				code_level = #{codeLevel,jdbcType=INTEGER},
			</if>
			<if test="latitude != null">
				latitude = #{latitude,jdbcType=VARCHAR},
			</if>
			<if test="longitude != null">
				longitude = #{longitude,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="parentCode != null">
				parent_code = #{parentCode,jdbcType=VARCHAR},
			</if>
			<if test="parentPath != null">
				parent_path = #{parentPath,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null">
				create_by = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null">
				update_by = #{updateBy,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.gospell.chitong.rdcenter.broadcast.complexManage.entity.Administrative">
		update administrative
		set code = #{code,jdbcType=VARCHAR},
		code_level = #{codeLevel,jdbcType=INTEGER},
		latitude = #{latitude,jdbcType=VARCHAR},
		longitude = #{longitude,jdbcType=VARCHAR},
		name = #{name,jdbcType=VARCHAR},
		parent_code = #{parentCode,jdbcType=VARCHAR},
		parent_path = #{parentPath,jdbcType=VARCHAR},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		create_by = #{createBy,jdbcType=VARCHAR},
		update_time = #{updateTime,jdbcType=TIMESTAMP},
		update_by = #{updateBy,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<select id="list" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from administrative
		<where>
			<if test="code != null">
				and code = #{code,jdbcType=VARCHAR}
			</if>
			<if test="codeLevel != null">
				and code_level = #{codeLevel,jdbcType=INTEGER}
			</if>
			<if test="latitude != null">
				and latitude = #{latitude,jdbcType=VARCHAR}
			</if>
			<if test="longitude != null">
				and longitude = #{longitude,jdbcType=VARCHAR}
			</if>
			<if test="name != null">
				and name = #{name,jdbcType=VARCHAR}
			</if>
			<if test="parentCode != null">
				and parent_code = #{parentCode,jdbcType=VARCHAR}
			</if>
			<if test="parentPath != null">
				and parent_path = #{parentPath,jdbcType=VARCHAR}
			</if>
			<if test="createTime != null">
				and create_time = #{createTime,jdbcType=TIMESTAMP}
			</if>
			<if test="createBy != null">
				and create_by = #{createBy,jdbcType=VARCHAR}
			</if>
			<if test="updateTime != null">
				and update_time = #{updateTime,jdbcType=TIMESTAMP}
			</if>
			<if test="updateBy != null">
				and update_by = #{updateBy,jdbcType=VARCHAR}
			</if>
			<if test="codeLike != null">
				and code like  #{codeLike,jdbcType=VARCHAR} "%"
			</if>
			<if test="nameLike!= null">
				and name like "%" #{nameLike,jdbcType=VARCHAR} "%"
			</if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by id desc
			</otherwise>
		</choose>
		<if test="begin != null and pageSize != null">
			limit #{begin},#{pageSize}
		</if>
	</select>
	<select id="count" resultType="int">
		select
		<include refid="Base_Column_List" />
		from administrative
		<where>
			<if test="code != null">
				and code = #{code,jdbcType=VARCHAR}
			</if>
			<if test="codeLevel != null">
				and code_level = #{codeLevel,jdbcType=INTEGER}
			</if>
			<if test="latitude != null">
				and latitude = #{latitude,jdbcType=VARCHAR}
			</if>
			<if test="longitude != null">
				and longitude = #{longitude,jdbcType=VARCHAR}
			</if>
			<if test="name != null">
				and name = #{name,jdbcType=VARCHAR}
			</if>
			<if test="parentCode != null">
				and parent_code = #{parentCode,jdbcType=VARCHAR}
			</if>
			<if test="parentPath != null">
				and parent_path = #{parentPath,jdbcType=VARCHAR}
			</if>
			<if test="createTime != null">
				and create_time = #{createTime,jdbcType=TIMESTAMP}
			</if>
			<if test="createBy != null">
				and create_by = #{createBy,jdbcType=VARCHAR}
			</if>
			<if test="updateTime != null">
				and update_time = #{updateTime,jdbcType=TIMESTAMP}
			</if>
			<if test="updateBy != null">
				and update_by = #{updateBy,jdbcType=VARCHAR}
			</if>
			<if test="codeLike != null">
				and code like  #{codeLike,jdbcType=VARCHAR} "%"
			</if>
		</where>
	</select>
</mapper>